/* Замятіна Валерія — Практика №3 — Блочна модель, селектори, псевдокласи та медіазапити */

/*
В цьому файлі описані правила застосування певного розміру тексту та кольору тла. Зазначте  за допомогою коментарів: які пріоритети відповідають кожному з описаних в файлі правил, і яке з описаних правил буде застосовано.
*/


/*
Структура HTML-документа:

<nav>
    <ul class="nav">
        <li>
            <a id="link-main" href="index.html">Головна</a>
        </li>
        <li>
            <a href="about.html">Про нас</a>
        </li>
    </ul>
</nav>
*/


nav .nav { /* x-1-2 */
    font-size: 15px;
    background: #cacaca;
}

.nav li > a { /* x-1-2 */
    font-size: 1.1em;
}

nav #link-main { /* 1-x-2 (найвищий пріоритет)*/
    font-size: 120%;
}

/* замість х впишіть чисельні значення лічильників, наприклад 0-1-0

   стиль, який матиме найвищий пріоритет застосування позначте дописом (найвищий пріоритет); наприклад: 0-1-0 (найвищий пріоритет) */
