:root {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #C9A5AA;
    margin: 12px;
}

nav {
    background: #F4D3D3;
    margin-bottom: 16px;
    border-radius: 8px;
}

.nav-caption {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    display: block;
}

.nav {
    list-style: none;
    padding-left: 0;
    margin-top: 3px;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.nav > li {
    text-align: center;
}

.nav > li > a {
    display: block;
    padding: 6px 10px;
}

.nav > li > a:hover {
    background: #FFFFFF;
}

:any-link {
    color: #006EBE;
    text-decoration: none;
}

:link:visited {
    color: #0B257D;
}

:any-link:hover {
    color: #5EAAE0;
}

article {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
}

article header {
    background: #E9E9E9;
    padding: 8px;
    line-height: 1.166666;
    border-radius: 8px;
}

figure {
    background: #F4D3D3;
    border-radius: 10px;
    margin: 16px 0px;
}

figure > img {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

footer {
    line-height: 1,166666;
    background: #F4D3D3;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.copyright,
.imprint {
    display: block;
}

.bullet {
    display: none;
}

.copyright {
    margin-bottom: 6px;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.208333;
    margin-top: 16px;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

p + h2 {
    margin-top: 16px;
}

figcaption {
    font-family: 'Verdana';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
    padding: 10px 10px 6px;
}

ol {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

ol > li {
    padding: 10px;
    border-bottom: 1px solid #C9A5AA;
    padding-left: 30px;
}

ol > li::before {
    content: counter(list-item) ".";
    display: inline-block;
    width: 20px;
    margin-left: -20px;
}

ol > li:nth-child(even) {
    background: #FCE9E9;
}

ol > li:first-child {
    background: #FCF5E9;
}

ol > li:last-child {
    border-bottom: 0;
}

@media screen and (min-width: 620px) {

    .root {
        font-size: 14px;
        line-height: 1.5;
    }

    body {
        margin: 24px 24px 16px;
    }

    .nav {
        margin-top: 0;
        padding-bottom: 0;
    }

    .nav > li > a {
        border-radius: 4px;
    }

    article {
        padding: 16px 70px;
    }

    figure {
        margin-top: 8px;
        padding: 20px 20px 10px;
        border-radius: 4px 2px 4px 6px;
    }

    figcaption {
        padding-top: 10px 0 0;
        font-size: 16px;
        line-height: 1.315;
    }

    img {
        padding: 0px 10px;
        border-radius: 2px;
    }

    .nav-wrapper,
    article,
    footer {
        margin-right: auto;
        margin-left: auto;
        max-width: 680px;
    }

    nav {
        padding-bottom: 0;
        display: inline-block;
    }

    .nav-caption {
        display: none;
    }

    .nav > li {
        display: inline-block;
    }

    footer,
    article header {
        font-size: 12px;
        line-height: 1.166666;
    }

    footer {
        text-align: center;
    }

    .copyright,
    .imprint,
    .bullet {
        display: inline;
    }
}

@media screen and (min-width: 820px){
    .root {
        font-size: 14px;
        line-height: 1.5;
    }

    body {
        margin: 64px 64px 29px;
    }

    .nav {
        margin-top: 0;
        padding-bottom: 0;
    }

    .nav-wrapper,
    article,
    footer {
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
    }

    nav {
        padding-bottom: 0;
        display: inline-block;
    }
}